body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  display: flex;
  align-items: center;
 justify-content: space-between;
}
span{
padding: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #857676;
}
 .section-1{
  display: flex;
  flex-direction: column;
  margin-right:30%;
  
 }
 .container{
  display: flex;
  flex-direction: row;

   
 }
 .outer--container{
  width: 528px;
  height: 370px;
background: black;
box-shadow: 0px 4px 37px rgba(128, 128, 128, 0.25);
border-radius: 15px;
 }