
body{
  background-color: #F5F5F5;
  margin:0;
  padding:0;
}


img{
  margin-left: 1.2em;
}
.highlight {
  background-color: #eee;
  border: 2px dashed #aaa;
}
.navbar{
   
  padding:0;
 height:5em;
  display: flex;
  align-items: center;
 justify-content: space-between;
 box-shadow: 0px 4px 15px rgba(97, 96, 96, 0.25);
 
}
span{
  margin:1.2em;
padding: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #857676;
}
 .section-1{
  display: flex;
  flex-direction: column;
  margin-right:20%;
  margin-left:5em;
  
 }
 .container{
  display: flex;
  flex-direction: row;

   
 }
 .outer--container{
  position:relative;
  margin-top:174px;
  width: 528px;
  height: 370px;
  background: #FFFFFF;
box-shadow: 0px 4px 37px rgba(128, 128, 128, 0.25);
border-radius: 15px;
 }
.inner-container{
  position:absolute;
   margin-top: 30px;
  background-color: black;
  width: 441px;
  height: 294px;
left:40px;
 background: rgba(237, 228, 243, 0.45);
border-radius: 13px;
}
.upload--icon{
  position:absolute;
  left:9em;
  top:5em;
}
   .upload--text{
  position:absolute;
  left:6em;
  top:9em;
   }
   .inner-button{
    width: 154px;
     height: 42px;
    background: #5E2B86;
    border-radius: 42px;
    transform: rotate(-0.5deg);
   color:white;
   font-weight: 600;
   font-size: 16px;
    position:absolute;
     top:14.2em;
    right:50px;
    cursor: pointer;
   }
   input{
    position:absolute;
    top:17em;
    left:60px;
cursor: pointer;
 color:rgba(0,0,0,0)
 
   }
  input::file-selector-button {
    font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        background-color: #5E2B86;
        color: #FFFFFF;
        width: 154px;
        height: 42px;
       background: #5E2B86;
       border-radius: 42px;
       transform: rotate(-0.5deg);
       color:white;
        
   }


   .title{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;
text-align: center;
margin-top:215px;
color: #565454;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

   .chart--img{
    position:relative;
    display: flex;
    margin-left:740px;
   }
#resultContainer{
  position:absolute;
font-family: 'IBM Plex Sans Hebrew';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 47px;
text-align: center;

color: #3B0864;
   }